body{
    margin:0;
    padding:0;
    text-align:left;
    width:100%;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
h1{
    font-size: 32px;
}
main{
    width:100%;
    display: block;
    position:relative;
    text-align: center;
    
}



/* ここから記載 */
.btn{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
button {
    background-color: #44dffa;
    border: none;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.3s, transform 0.3s;
}
button:hover {
    background-color: #2658fa;
    transform: scale(1.1);
}
#bun1-1{
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.form{
    margin-left: 100px;
    margin-right: auto;
    width: 100%;
}
#form1,#form2,#form3{
    display: flex;
    margin-bottom: 14px;
}

#in1,#in2,#in3{
    font-size: 16px;
    margin: 0;
    padding-bottom: 0;
}
#text1{
    font-size: 16px;
    margin-left: 49px;
}
#text2{
    font-size: 16px;
    margin-left: 17px;
}
#text3{
    width: 300px;
    height: 32px;
    font-size: 16px;
    margin-left: 28px;
    /* box-sizing: border-box; */
}

/* ヘッダー行 */
table thead tr {
    background-color: #fcd93d;
    font-size: 20px;
    color: #ffffff;
}

/* テーブルのセル*/
table th, table td {
    border: 1px solid #d3d3d3;
    padding: 8px;
}

/* 2行目以降の行*/
table tbody tr {
    background-color: #ffffff;
    font-size: 16px;
}

table tbody tr:hover {
    background-color: #f9f9f9;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
